<div class="cards px-5">

  <% @treehouses.each do |treehouse| %>
    <div class="card">
      <%= link_to treehouse.name, treehouse_path(treehouse) %>
    </div>
  <% end %>

</div>


<% @treehouses.each do |treehouse| %>
  <li>
    <%= link_to treehouse.name, treehouse_path(treehouse) %>
    <div class="treehouse-photos">
      <% treehouse.photos.each do |photo| %>
        <%= image_tag photo, class: "treehouse-photo" %>
      <% end %>
    </div>
  </li>
<% end %>

<%= link_to "Add treehouse", new_treehouse_path %>
