<%= simple_form_for([@treehouse, @booking], html: { class: 'custom-form' }) do |f| %>
  <div class="form-group">
    <%= f.input :start_date, as: :date, html5: true, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :end_date, as: :date, html5: true, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
