<div class="container">
  <div class="navbar"></div>

  <div id="welcome" class="text-center">
    <h1>Welcome to</h1>
  </div>

<div class="homepage-logo">
   <%= link_to treehouses_path do %>
    <img src="https://i.ibb.co/c8djTt3/DALL-E-2024-02-29-09-35-52-Design-a-logo-for-Airbn-Tree-a-brand-that-combines-the-concept-of-a-treeh.png" alt="AirbnTree Logo">
  <% end %>
</div>
</div>
<div class="footer"></div>

<div class="footer"></div>
