
<% @bookings.each do |booking| %>
  <li>
    <h3>Booking</h3>
    <p> From: <%= booking.start_date %> To: From: <%= booking.end_date %></p>
  </li>
<% end %>

<%= link_to "Add treehouse", new_treehouse_path %>
