
<% @bookings.each do |booking| %>
  <div>
    <li>
      <h3>Booking</h3>
      <p> From: <%= booking.start_date %> To: From: <%= booking.end_date %></p>
    </li>
  </div>
<% end %>



<%= link_to "Add treehouse", new_treehouse_path %>
