<h3>My bookings:</h3>

<% if !@bookings.empty?%>
  <% @bookings.each do |booking| %>
    <div>
      <li>
        <p> From: <%= booking.start_date %> To: <%= booking.end_date %></p>
      </li>
    </div>
  <% end %>
<% end %>


<h3>Booking requests:</h3>

<% if !@incoming_bookings.empty?%>
  <% @incoming_bookings.each do |incoming_booking| %>
    <div>
      <li>
        <p> From: <%= incoming_booking.start_date %> To: <%= incoming_booking.end_date %></p>
          <%# // Accept Button with Update function of pending status - Editing the model Short form with changing status param.
          // Reject Button %>
      </li>
    </div>
  <% end %>
<% end %>
