/* Inside _footer.css */
.site-footer {
  background: rgba(255,243,218, 1);
  text-align: center;
  border-top: 1px solid #e7e7e7;
}

.site-footer .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

html, body {
  height: 100%;
  margin: 0; // Reset any default margin
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

p {
  margin-top: 20px;
  color: rgb(95,73,177);
}
