.needs-validation {
  max-width: 400px;
  margin: auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
  background-color: #fff3da;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 0;
}

.form-check-input {
  margin-top: 0.3rem;
  margin-left: 0;
}

.form-check-label {
  margin-left: 1.5rem;
}

.form-actions {
  margin-top: 20px;
}
