.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: rgba(50, 249, 173, 0.597);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

button {
  border-radius: 10%;
  color: green;
}

nav{
  padding: 20px;
  text-align: right;
}

.navbar-nav {
  text-align: right;
  font-size: 35px;
}
