.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 243, 218, 1); /* Same as .site-footer background */
  color: rgb(95, 73, 177); /* Text color set in the footer's p */
}

.browse-trees-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav #navbar-right-elements {
  display: flex;
  justify-content: flex-end;
}

.nav-link:hover {
  background-color: #f0f0f0; /* Slightly changes for hover effect */
  border-radius: 5px; /* Rounded corners for a smoother look */
}

.browse-trees {
  font-size: 20px; /* Larger font size */
  font-weight: bold; /* Make the font weight bold */
  color: rgb(95, 73, 177); /* Keeping consistent with the theme, but more noticeable */
  padding: 5px 10px; /* Add some padding for better visibility */
}

.browse-trees:hover {
  background-color: rgb(245, 233, 208); /* A lighter background on hover */
  color: rgb(75, 53, 157); /* Darker color for text on hover to contrast with lighter background */
  border-radius: 10px; /* Slightly larger border-radius for a more pronounced effect */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #8774bb; /* Bootstrap primary button color */
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #7454cc;
  color: white;

}

.btn-login {
  background-color: #8774bb;
  color: white;

}

.btn-logout {
  background-color: #8774bb;
  color: white;
}

.btn-logout:hover {
  background-color: #7454cc;
  color: white;

}

#navbar-right-elements {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.nav-item {
  margin-right: 10px; /* Adds some space between the buttons */
}

.nav-link.btn {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
}
