.form-horizontal {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff3da;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #004085;
  border-color: #003769;
}
