<nav class="navbar-lewagon">
    <img class="navbar-brand" src="<%=asset_path("treelogo.png")%>" width="100px" height="100px" alt="">
      <div class="navbar-nav">
        <ul id="navbar-right-elements" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="d-inline-block align-text-top" >
            <a class="nav-link" href="" id="browse" >Browse Trees</a>
          </li>
            <li class="d-inline-block align-text-top" class="nav-item">
              <a class="nav-link" href="" id="about">About</a>
            </li>
            <li class="d-inline-block align-text-top" class="nav-item" id="out">
              <%= link_to "Log In", new_user_session_path, class: "d-inline-block align-text-top"%>
        </ul>
      </div>
</nav>
