<nav class="navbar-lewagon">
    <img class="navbar-brand" src="<%=asset_path("treelogo.png")%>" width="150px" height="150px" alt="">
      <div class="navbar-nav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="d-inline-block align-text-top" >
            <a class="nav-link" href="">Browse Trees</a>
          </li>
            <li class="d-inline-block align-text-top" class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="d-inline-block align-text-top" class="nav-item">
              <%# <button class="d-inline-block align-text-top">Login</button> %>
              <%= link_to "Log In", new_user_session_path, class: "d-inline-block align-text-top"%>
        </ul>
      </div>
</nav>
